@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

button.btn-primary {
    color: #fff;
    background: #1768F7;
    border: 1px solid #1768F7;
    border-radius: 5px;
}

i {
    margin-right: 6px;
    vertical-align: middle;
}

i.check::before {
    content: url('/media/icon/Capa_1.svg');
}

i.edit::before {
    content: url('/media/icon/Capa_2.svg');
}

i.trash-can::before {
    content: url('/media/icon/others/Layer_1-5.svg');
}

i.xmark::before {
    content: url('/media/icon/others/Capa_1.svg');
}

i.arrow-left::before {
    content: url('/media/icon/others/Layer_33.svg');
}

i.arrow-right::before {
    content: url('/media/icon/others/Layer_1-4.svg');
}

i.solid.arrow-left::before {
    content: url('/media/icon/Group 67.svg');
}

i.solid.circle-check::before {
    content: url('/media/icon/others/Capa_223.svg');
}

i.solid.plus::before {
    
}

/*
    Clearable text inputs
*/
.clearable{
    background: #fff url(https://i.stack.imgur.com/mJotv.gif) no-repeat right -10px center;
    border: 1px solid #999;
    padding: 3px 25px 3px 4px; /* Use the same right padding (18) in jQ! */
    border-radius: 3px;
    transition: background 0.4s;
  }
  .clearable.x  { background-position: right 15px center; } /* (jQ) Show icon */
  .clearable.onX{ cursor: pointer; } /* (jQ) hover cursor style */
  .clearable::-ms-clear {display: none; width:0; height:0;} /* Remove IE default X */

.hidden {
    display: none !important;
}

.wrapper {
    display: flex;
    width: 100vw;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 550px;
    border-left: 2px solid #EBEBEB;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 40px;
    font-weight: 700;
    padding: 38px 35px;
    border-bottom: 2px solid #EBEBEB;
}

.header button {
    width: 52px;
    height: 52px;
    margin-right: 25px;
    background: #F8F8F9;
    border: 1px solid #F0F0F0;
    border-radius: 50%;
}

.header button i {
    margin: 0;
    color: #727272;
    font-size: 20px;
}

.content {
    flex-grow: 1;
    padding: 33px;
    background: #F8F8F9;
}

.notification {
    padding: 20px;
    background: #F6F0CE;
    border: 2px solid #CFC786;
    border-radius: 10px;
    margin-bottom: 20px;
}

.notification p {
    display: table;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    color: #6A6A6A;
}

.notification i {
    display: table-cell;
    font-size: 16px;
    padding-right: 10px;
    color: #CFC786;
}

.table-wrapper {
    padding: 44px 33px;
    background: #fff;
    border-radius: 10px;
}

.table-info-top {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    font-size: 14px;
    line-height: 28px;
    padding-bottom: 20px;
    border-bottom: 1px solid #EBEBEB;
}

.info-card {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 10px 22px;
    font-weight: 600;
    background: #F8F8F9;
    border-radius: 10px;
}

.info-card hr {
    display: none;
    height: 25px;
    margin: 0 35px;
    width: 1px;
    color: #C3C3C3;
    border-style: solid;
    border-top: none;
}

.info-card .info-url {
    width: 80%;
    border-right: 1px solid #000;
    padding-right: 5px;
    margin-right: 5px;
}

.info-card span {
    display: block;
    font-size: 15px;
    font-weight: 500;
    color: #6A6A6A;
}

.table-sync-setting {
    display: table;
    padding: 22px;
    border-bottom: 1px solid #EBEBEB;
}

.sync-title {
    display: table-cell;
    width: 170px;
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
}

.sync-items {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
}

.sync-item {
    display: inline-block;
    background: #F4F4F4;
    padding: 6px 10px;
    border-radius: 5px;
}

.row-middle {
    margin-bottom: 33px;
}

/* Grid table */

.cell {
    height: 60px;
    padding: 22px 0;
    display: flex;
    align-items: center;
    text-align: left;
    line-height: 1.2;
}


.cell.header-cell {
    padding: 0;
    font-size: 14px;
    font-weight: 700;
    background: #F1F5FF;
}

.cell.actions {
    position: absolute;
    right: 0;
}

.header-cell:first-child {
    text-align: center;
}

.row-header, .row-body {
    display: contents;
}

.mapping-row {
    display: grid;
    grid-template-columns: 50px 1fr 1fr;
    position: relative;
}

.mapping-row .cell:first-child {
    justify-content: center;
}

.attribute-mapping-table .mapping-row {
    border-bottom: 1px solid #EBEBEB;
}

.attribute-mapping-table .row-header {
    margin-bottom: 20px;
}

.attribute-mapping-table select {
    padding: 10px 50px 10px 12px;
    font-size: 14px;
    font-weight: 500;
    background-color: #fff;
    background-image: url('/media/icon/others/Layer_1-6.svg');
    background-repeat: no-repeat;
    background-position: top 50% right 12px;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.attribute-mapping-table input {
    max-width: 70%;
    padding: 10px 12px;
    font-size: 14px;
    font-weight: 500;
    /* background: #fff; */
    border: 1px solid #EBEBEB;
    border-radius: 5px;
}

.btn.option-mapping {
    display: block;
    height: 38px;
    margin-left: auto;
    padding: 10px 35px 10px 15px;
    font-weight: 700;
    background-image: url('/media/icon/others/Layer_1-6_white.svg');
    background-repeat: no-repeat;
    background-position: top 50% right 50%;
    appearance: auto;
}

.btn.option-mapping span {
    display: none;
}

.option-mapping-table.css-grid-table {
    display: none;
    grid-column: 1 / 5;
    width: 100%;
    margin-left: auto;
    border-collapse: collapse;
}

.option-mapping-table .header-cell {
    height: 40px;
    font-size: 13px;
    font-weight: 600;
    color: #666666;
}

.option-mapping-table .cell {
    height: 40px;
    font-size: 13px;
}

.option-mapping-table input {
    max-width: 100%;
    padding: 5px 12px;
}

.option-mapping-table .mapping-row {
    display: grid;
    grid-template-columns: 50px 1fr 1fr;
    border-bottom: none;
}

.option-mapping-table .cell {
    padding: 10px 0;
}

/* Bottom */

.row-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-bottom::before {
    content: '';
}

.table-actions button{
    height: 40px;
    padding: 8px 20px;
    font-weight: 700;
    background: #fff;
    border-radius: 10px;
}

.table-actions .btn-add {
    color: #fff;
    background: #1768F7;
}

.table-actions .btn-save {
    color: #fff;
    background: #1768F7;
}

@media screen and (min-width: 768px) {
    .main .content {
        padding: 33px;
    }
}

@media screen and (min-width: 1024px) {
    .info-card .info-url {
        width: 70%;
        padding-right: 10px;
        margin-right: 10px;
    }
    .info-card span {
        display: inline;
    }
    .cell.actions {
        position: unset;
    }
    .mapping-row {
        grid-template-columns: 50px 1fr 1fr 1fr;
    }
    .option-mapping-table.css-grid-table {
        grid-column: 3 / 5;
    }
    .btn.option-mapping {
        background-position: top 50% right 12px;
    }
    .btn.option-mapping span {
        display: inline;
    }
}

@media screen and (min-width: 1440px) {
    .option-mapping-table.css-grid-table {
        grid-column: 4 / 5;
    }
}