
.filter-wrapper {
  width: 100%;
  font-weight: 500;
  background: #fff;
  border: 1px solid #EBEBEB;
  border-radius: 10px;
}
.form-group {
  display: inline-block;
  margin-right: 30px;
}
.filter-actions {
  height: 60px;
  padding: 20px;
  border-bottom: 1px solid #EBEBEB;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 12px;
  vertical-align: middle;
}
label {
  vertical-align: bottom;
}
.filter-options {
  display: flex;
  flex-wrap: wrap;
  padding: 19px;
  .form-group {
    flex: 1 0 21%;
    min-width: 230px;
    margin-bottom: 26px;
    max-width: calc(25% - 30px);
  }
}
