$color_1: #606060;
$color_2: #B8B8B8;
$color_3: #fff;
$color_4: #000000;
$background-color_1: #fff;
$background-color_2: #000000;
$background-color_3: #4BB949;
$background-color_4: #E53A3A;

.category-mapping-table {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  border-collapse: collapse;
  thead {
    height: 50px;
    background: #F1F5FF;
  }
  th {
    &:not(:first-child) {
      &:not(:last-child) {
        text-align: left;
        padding: 0 15px;
      }
    }
  }
  tr {
    height: 60px;
    border-bottom: 1px solid #EBEBEB;
  }
  td {
    padding: 0 15px;
    &:first-child {
      width: 65px;
      text-align: center;
    }
    &:nth-child(2) {
      width: 425px;
    }
    &:nth-child(3) {
      width: 425px;
    }
    &:nth-child(4) {
      width: 275px;
    }
  }
  select {
    padding: 10px 50px 10px 12px;
    font-size: 14px;
    font-weight: 500;
    background-color: $background-color_1;
    background-image: url('../../resources/icons/others/Layer_1-6.svg');
    background-repeat: no-repeat;
    background-position: top 50% right 12px;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
  input {
    padding: 10px 12px;
    font-size: 14px;
    font-weight: 500;
    background-color: $background-color_1;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
  }
  .row-actions {
    .action {
      width: 32px;
      height: 32px;
      border: none;
      border-radius: 5px;
      vertical-align: middle;
    }
    .action.cancel {
      background-color: $background-color_2;
    }
    .action.edit {
      background-color: $background-color_3;
    }
    .action.delete {
      background-color: $background-color_4;
    }
    i {
      margin: 0;
    }
  }
}
.row-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.table-paging {
  .paging-option {
    display: inline-block;
  }
  button {
    padding: 6px 11px;
    color: $color_1;
    font-weight: 500;
    background: #fff;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    i {
      margin-right: 0;
    }
  }
  .pagination {
    margin: 0 auto;
    span {
      display: inline-block;
      width: 36px;
      height: 36px;
      text-align: center;
      padding: 6px 0;
      line-height: 24px;
      color: $color_2;
      border-radius: 10px;
      cursor: pointer;
    }
    span.active {
      background: #1768F7;
      color: $color_3;
    }
  }
}
.table-actions {
  gap: 10px;
}
@media (max-width: 1024px) {
  .row-bottom {
    flex-direction: column;
    gap: 20px;
  }
  .table-paging {
    width: 100%;
    order: 2;
    display: flex;
    justify-content: center;
    button {
      padding: 0 10px;
    }
  }
  .table-actions {
    width: 100%;
    justify-content: center;
    button {
      &::before {
        content: attr(data-th);
        font-weight: 700;
      }
      span {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .table-wrapper {
    padding: 26px;
  }
  .category-mapping-table {
    thead {
      display: none;
    }
    tbody {
      tr {
        display: flex;
        flex-direction: column;
        gap: 16px;
        height: auto;
        padding: 16px 0;
      }
    }
    td {
      width: auto !important;
      text-align: unset !important;
      font-size: 12px;
      padding: 0;
      &::before {
        padding-right: 10px;
        content: attr(data-th) ': ';
        color: $color_4;
        font-weight: 700;
      }
    }
  }
  .row-top {
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .table-actions {
    button {
      &::before {
        content: none;
      }
      span {
        display: initial;
      }
    }
  }
  .table-wrapper {
    padding: 44px 33px;
  }
  .table-paging {
    button {
      span {
        display: initial;
      }
    }
  }
  .category-mapping-table {
    td {
      padding: 0 10px;
    }
    select {
      padding-right: 35px;
    }
    input {
      width: 135px;
    }
  }
  td.row-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: inherit;
  }
}
@media screen and (min-width: 1024px) {
  .table-paging {
    button {
      span {
        display: none;
      }
    }
  }
}
@media screen and (min-width: 1440px) {
  .table-paging {
    button {
      span {
        display: initial;
      }
    }
  }
  .pagination.paging-option {
    margin: 0 30px;
  }
}
