$color_1: #6A6A6A;
$color_2: #FFFFFF;
$background-color_1: #fff;

.general-settings {
  .info-card {
    flex: unset;
    .info-url {
      width: auto;
      padding: 0;
      margin: 0;
      border-right: none;
    }
    hr {
      display: none;
    }
    span {
      font-size: 15px;
      font-weight: 500;
      color: $color_1;
    }
  }
  .checksave-btn {
    border: none;
  }
  .checkboxes {
    margin-top: 20px;
  }
  .customer-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 35px;
  }
  .checkbox-item {
    display: table;
    height: 35px;
    margin-bottom: 30px;
    .customer-title {
      display: table-cell;
      width: 410px;
    }
    .form-note {
      display: table;
      input[type='checkbox'] {
        display: table-cell;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        vertical-align: bottom;
      }
      label {
        display: table-cell;
      }
    }
  }
}
.customer-email {
  padding: 35px 20px 0 20px;
}
.check-customer {
  display: flex;
  flex-direction: column;
  input:not([type='checkbox']) {
    padding: 13px 25px;
    color: $color_1;
    line-height: 26px;
    border: 1px solid #1768F7;
    border-radius: 10px;
  }
  input[name='token'] {
    -webkit-text-security: disc;
    text-security: disc;
  }
  input[name='token']:hover {
    -webkit-text-security: none;
    text-security: none;
  }
}
button.checksave-btn {
  margin-top: 20px;
  color: $color_2;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  padding: 8px 20px;
  background: #1768F7;
  border-radius: 10px;
  width: fit-content;
}
button.checksave-btn.clear-data-btn {
  margin-top: 0;
  margin-left: 20px;
}
.form-check-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.language-currency {
  display: flex;
  gap: 20px;
  flex-grow: 1;
  select {
    padding: 13px 23px;
    font-size: 14px;
    font-weight: 500;
    color: $color_1;
    background-color: $background-color_1;
    background-image: url(../../resources/icons/others/Layer_1-6.svg);
    background-repeat: no-repeat;
    background-position: top 50% right 12px;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
}
.price-rouding {
  select {
    padding: 13px 23px;
    font-size: 14px;
    font-weight: 500;
    color: $color_1;
    background-color: $background-color_1;
    background-image: url(../../resources/icons/others/Layer_1-6.svg);
    background-repeat: no-repeat;
    background-position: top 50% right 12px;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 20px;
}
.language-select {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.currency-select {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
@media (max-width: 768px) {
  .general-settings {
    .checkbox-item {
      .customer-title {
        width: 150px;
      }
    }
  }
}
