$color_1: #000000;
$font-family_1: "Montserrat", sans-serif;

/* content orders */
* {
  font-family: $font-family_1;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
div {
  display: block;
}
button {
  border: none;
  background: none;
}
.page-wrapper {
  display: inline-flex;
  width: 100%;
}
.content {
  width: 85%;
  max-width: 1575px;
}
.content-title {
  position: sticky;
  top: 0;
  background: #FFFFFF;
  padding-left: 35px;
  z-index: 10;
  border-bottom: 2px solid #EBEBEB;
  h2.title-detail {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
  }
  .header-title {
    width: 100%;
    display: inline-flex;
    align-items: center;
    gap: 24px;
    padding: 38px 0 37px 0;
  }
}
.toggle-menu {
  i {
    font-size: 26px;
    cursor: pointer;
    display: none;
  }
}
.opacity {
  background: #000000;
  opacity: 0.5;
  pointer-events: none;
}
.helpdesk-content {
  height: auto;
  padding-right: 50px;
}
.frequently-questions {
  background: #FFFFFF;
  padding: 45px 60px;
  padding-top: 27px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.questions-answer {
  border-bottom: 1px solid #EBEBEB;
  padding: 18px 0;
}
.question-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.question-detail {
  span.question-label {
    font-weight: 600;
    line-height: 26px;
    color: $color_1;
  }
}
.answer-item {
  padding: 0 20px 0 20px;
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}
.answer-active {
  padding-top: 18px;
  height: auto;
  overflow: visible;
}
button.action-btn {
  display: flex;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
@media (max-width: 540px) {
  .frequently-questions {
    padding: 30px;
  }
  .helpdesk-content {
    height: auto !important;
    padding: 26px !important;
  }
}
