$color_1: #606060;
$color_2: #6A6A6A;
$color_3: #000000;
$color_4: #7CC741;
$color_5: #B8B8B8;
$color_6: #FFFFFF;
$font-family_1: "Montserrat", sans-serif;
$background-color_1: #FFFFFF;
$background-color_2: #1768F7;
$border-color_1: #EBEBEB;

/* main orders */
.main {
  .orders-detail-table {
    background-color: $background-color_1;
    border-radius: 10px;
  }
}
span.span-table-title {
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
}
.content {
  .table-header {
    display: flex;
    justify-content: space-between;
    padding: 26px;
    flex-wrap: wrap;
  }
}
.per-page-select {
  padding: 6px 15px;
  border: 1px solid #EBEBEB;
  border-radius: 10px;
  cursor: pointer;
}
.orders-table-content {
  thead {
    border-top: 1px solid #EBEBEB;
    th {
      display: none;
      font-size: 14px;
      line-height: 26px;
      font-weight: 700;
      color: $color_2;
      background: #F6F6F6;
      //padding: 15px 40px;
      border-width: 1px 0;
      border-style: solid;
      border-color: $border-color_1;
    }
  }
  tbody {
    td {
      //padding: 25px 40px;
      font-size: 16px;
      font-weight: 500;
      color: $color_3;
      border-bottom: 1px solid #EBEBEB;
    }
    td.order-status {
      color: $color_4;
    }
  }
}
.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}
.paging-option {
  padding: 6px 11px;
  border: 1px solid #EBEBEB;
  border-radius: 10px;
  color: $color_1;
  background: $color_6;
  span {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
  }
}
.pagination-items {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  .pagi-active {
    background-color: $background-color_2;
    color: $color_6;
  }
}
.pagi-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  color: $color_5;
  padding: 6px 14px;
  border-radius: 10px;
  &:hover {
    background-color: $background-color_2;
    color: $color_6;
  }
}
.opacity {
  opacity: 0.5;
  pointer-events: none;
}

@media screen and (max-width: 540px) {
  .orders-table-content {
    thead {
      th {
        padding: 15px 40px;
      }
    }
    tbody {
      tr {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #EBEBEB;
        &:first-child {
          border-top: 1px solid #EBEBEB;
        }
      }
      td {
        padding: 16px 30px;
        border: none;
        &:before {
          padding-right: 10px;
          content: attr(data-th) ': ';
          color: $color_3;
          font-weight: 700;
        }
      }
    }
  }
}

@media screen and (min-width: 540px) {
  .orders-table-content {
    thead {
      th {
        display: table-cell;
        padding: 10px;
        font-size: 14px;
      }
    }
    tbody {
      td {
        padding: 25px 10px;
        font-size: 14px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .orders-table-content {
    thead {
      th {
        padding: 25px;
        font-size: 16px;
      }
    }
    tbody {
      td {
        padding: 25px 25px;
      }
    }
  }
}
