$color_1: #727272;
$color_2: #000;
$color_3: #6A6A6A;
$font-family_1: 'Montserrat', sans-serif;

@import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap";
i {
  margin-right: 6px;
  vertical-align: middle;
}
i.solid.grid {
  &::before {
    content: url('../../resources/icons/Group-2.svg');
  }
}
i.solid.attribute-mapping {
  &::before {
    content: url('../../resources/icons/Group133.svg');
  }
}
i.solid.brand-filter {
  &::before {
    content: url('../../resources/icons/Vector.svg');
  }
}
i.solid.gear-sync {
  &::before {
    content: url('../../resources/icons/Group-3.svg');
  }
}
i.solid.gear {
  &::before {
    content: url('../../resources/icons/Group134.svg');
  }
}
.setting-options {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
}

.setting-option {
  padding: 45px 40px;
  background: #FFFFFF;
  border-radius: 10px;
  text-decoration: none;
  color: $color_2;
  .setting-option-icon {
    margin-bottom: 30px;
  }
  .setting-option-text {
    h2 {
      font-size: 20px;
      font-weight: 700;
      line-height: 30px;
      margin-bottom: 10px;
    }
    p {
      font-size: 14px;
      font-weight: 500;
      line-height: 26px;
      color: $color_3;
    }
  }
}

@media screen and (min-width: 540px) {
  .setting-option {
    flex: 1 0 34%;
    max-width: calc(50% - 10px);
  }
}


@media screen and (min-width: 1024px) {
  .setting-option {
    flex: 1 0 26%;
    max-width: calc(33% - 10px);
  }
}
