$color_1: #000000;
$color_2: #FFFFFF;
$color_3: #6A6A6A;
$font-family_1: "Montserrat", sans-serif;

/* support */
.support-remind {
  width: 80%;
  max-width: 857px;
  .remind-label {
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    color: $color_1;
  }
}
.info-contact {
  width: 100%;
  padding-top: 34px;
  display: inline-flex;
  gap: 30px;
}
.contact-wrapper {
  width: 35%;
  max-width: 568px;
  padding: 60px 50px;
  display: inline-flex;
  gap: 26px;
  align-items: center;
  background: #FFFFFF;
  border-radius: 10px;
}
.icon-info {
  background: #1768F7;
  height: 67px;
  border-radius: 50%;
  i {
    color: $color_2;
    font-size: 28px;
  }
}
.info-title {
  span.title-label {
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
  }
}
.email-info {
  span {
    margin-top: 4px;
    font-size: 15px;
    font-weight: 500;
    color: $color_3;
  }
}
.website-info {
  span {
    margin-top: 4px;
    font-size: 15px;
    font-weight: 500;
    color: $color_3;
  }
}
@media (max-width: 1024px) {
  .contact-wrapper {
    padding: 50px 40px;
  }
  .info-contact {
    flex-wrap: wrap;
  }
}
@media (max-width: 540px) {
  .contact-wrapper {
    width: 60%;
  }
  .icon-info {
    width: 45px;
    height: 45px;
    img {
      width: 45px;
      height: 45px;
    }
  }
}
