.main .content, .main {
    width: 100%;
}
.main .header {
    background: #FFFFFF;
    position: sticky;
    top: 0;
    z-index: 10;
}
.info-card {
    flex-grow: unset;
}
.main .content p.info-url {
    font-size: 18px!important;
    font-weight: 600!important;
}
.customer-email {
    padding: 35px 20px 0 20px;
}
.customer-title {
    font-weight: 600;
    line-height: 35px;
}
.check-customer {
    display: flex;
    flex-direction: column;
}
.check-customer input {
    padding: 13px 25px;
    color: #6A6A6A;
    line-height: 26px;
    border: 1px solid #1768F7;
    border-radius: 10px;
}
button.checksave-btn {
    margin-top: 20px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    padding: 8px 20px;
    background: #1768F7;
    border-radius: 10px;
    width: fit-content;
}
.form-check-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.language-currency {
    display: flex;
    gap: 20px;
    flex-grow: 1;
}
.language-currency select, .price-rouding select {
    padding: 13px 23px;
    font-size: 14px;
    font-weight: 500;
    color: #6A6A6A;
    background-color: #fff;
    background-image: url(/media/icon/others/Layer_1-6.svg);
    background-repeat: no-repeat;
    background-position: top 50% right 12px;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.language-select, .currency-select, .price-rouding {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.price-rouding {
    margin-top: 20px;
}
.form-check-wrapper .info-card span {
    display: block;
}
@media (max-width: 912px) {
    .tab-sidebar {
        display: none;
    }
    .main {
        width: 100%;
    }
}
@media (max-width: 540px) {
    .table-wrapper {
        padding: 20px;
    }
    .table-info-top {
        flex-wrap: wrap;
    }
    .main .content p.info-url {
        font-size: 14px !important;
        line-height: 26px;
    }
    .form-check-wrapper .info-card span,.form-note i  {
        font-size: 12px;
    }
    .checkbox-item {
        flex-direction: column;
        align-items: normal !important;
    }
    .checkbox-item label.customer-title, .form-note {
        width: 100% !important;
        margin-left: 0!important;
    }
}