i {
    margin-right: 6px;
    vertical-align: middle;
}
i.arrow-left::before {
    content: url('/media/icon/others/Layer_33.svg');
}
i.solid.arrow-left::before {
    content: url('/media/icon/Group 67.svg');
}

i.solid.circle-check::before {
    content: url('/media/icon/others/Capa_223.svg');
}


.notification {
    padding: 20px;
    background: #F6F0CE;
    border: 2px solid #CFC786;
    border-radius: 10px;
    margin-bottom: 20px;
}

.notification p {
    display: table;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    color: #6A6A6A;
}

.notification i {
    display: table-cell;
    font-size: 16px;
    padding-right: 10px;
    color: #CFC786;
}

.table-wrapper {
    padding: 44px 33px;
    background: #fff;
    border-radius: 10px;
}

.table-info-top {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #EBEBEB;
}

.info-card {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 10px 22px;
    background: #F8F8F9;
    border-radius: 10px;
}
.info-card p {
    line-height: 35px;
    font-size: 18px;
    font-weight: 600;
}
.info-card hr {
    height: 25px;
    margin: 0 35px;
    width: 1px;
    color: #C3C3C3;
    border-style: solid;
    border-top: none;
}

.info-card span {
    font-size: 15px;
    font-weight: 500;
    color: #6A6A6A;
}

.main{
    width: 100%;

}
@media (min-width: 541px) and (max-width: 1024px) {
   
    .info-card {
        flex-direction: column;
        align-items: normal;
    }
    .info-card hr {
        display: none;
    }
    .info-card span {
        display: block;
    }
}
@media (max-width: 540px) {
    .table-info-top {
        flex-wrap: wrap;
        justify-content: unset;
    }
    .content {
        padding: 26px !important;
    }
    .notification span {
        font-size: 14px;
    }
    .info-card {
        flex-direction: column;
        align-items: normal;
    }
    .info-card hr {
        display: none;
    }
}
@media (max-width: 450px) {
    .info-card span {
        display: block;
        font-size: 12px;
    }
    .info-card p {
        font-size: 14px;
    }
    .table-wrapper {
        padding: 26px
    }
}
/* dash board*/
.wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
    border-left: 2px solid #EBEBEB;
}

.content {
    width: 100%;
    flex-grow: 1;
    padding: 50px 33px;
    background: #F8F8F9;
}
@media screen and (min-width: 1024px)  {
    .main {
        width: 85%;
        max-width: 1575px;
    }
}
.main .content, .main {
    width: 100%;
}
.main .header {
    background: #FFFFFF;
    position: sticky;
    top: 0;
    z-index: 10;
}
.info-card {
    flex-grow: unset;
}
.main .content p.info-url {
    font-size: 18px!important;
    font-weight: 600!important;
}
.customer-email {
    padding: 35px 20px 0 20px;
}
.customer-title {
    font-weight: 600;
    line-height: 35px;
}
.check-customer {
    display: flex;
    flex-direction: column;
}
.check-customer input {
    padding: 13px 25px;
    color: #6A6A6A;
    line-height: 26px;
    border: 1px solid #1768F7;
    border-radius: 10px;
}
button.checksave-btn {
    margin-top: 20px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    padding: 8px 20px;
    background: #1768F7;
    border-radius: 10px;
    width: fit-content;
}
.form-check-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.language-currency {
    display: flex;
    gap: 20px;
    flex-grow: 1;
}
.language-currency select, .price-rouding select {
    padding: 13px 23px;
    font-size: 14px;
    font-weight: 500;
    color: #6A6A6A;
    background-color: #fff;
    background-image: url(/media/icon/others/Layer_1-6.svg);
    background-repeat: no-repeat;
    background-position: top 50% right 12px;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.language-select, .currency-select, .price-rouding {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.price-rouding {
    margin-top: 20px;
}

@media (max-width: 912px) {
    .tab-sidebar {
        display: none;
    }
    .main {
        width: 100%;
    }
}
@media (max-width: 540px) {
    .table-wrapper {
        padding: 20px;
    }
    .table-info-top {
        flex-wrap: wrap;
        gap: 14px
    }
    .main .content p.info-url {
        font-size: 14px !important;
        line-height: 26px;
    }
    .form-check-wrapper .info-card span,.form-note i  {
        font-size: 12px;
    }
    .checkbox-item {
        flex-direction: column;
        align-items: normal !important;
    }
    .checkbox-item label.customer-title, .form-note {
        width: 100% !important;
        margin-left: 0!important;
    }
    .customer-email {
        padding: 35px 0 0 0;
    }
}