@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

i {
    margin-right: 6px;
    vertical-align: middle;
}

i.check::before {
    content: url('/media/icon/Capa_1.svg');
}

i.edit::before {
    content: url('/media/icon/Capa_2.svg');
}

i.trash-can::before {
    content: url('/media/icon/others/Layer_1-5.svg');
}

i.xmark::before {
    content: url('/media/icon/others/Capa_1.svg');
}

i.arrow-left::before {
    content: url('/media/icon/others/Layer_33.svg');
}

i.arrow-right::before {
    content: url('/media/icon/others/Layer_1-4.svg');
}

i.solid.arrow-left::before {
    content: url('/media/icon/Group 67.svg');
}

i.solid.circle-check::before {
    content: url('/media/icon/others/Capa_223.svg');
}

i.solid.plus::before {
}

i.solid.info::before {

}

.wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.sidebar {
    display: block;
    width: 345px;
    height: 100%;
    background: #fff;
}

/* Start Sidebar */
.main-sidebar {
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #EBEBEB;
    padding: 73px 50px 0 50px;
}
ul.tabs-content {
    display: flex;
    flex-direction: column;
    gap: 14px;
    list-style: none;
}
.logo-site, li.tab-item {
    padding-left: 23px !important;
}
.tabs-wrapper {
    margin-top: 66px;
}
.logo-site .logo-content a img {
    width: 108px;
    height: 50px;
}
ul.tabs-content li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    line-height: auto;
    color: #666666;
}
ul.tabs-content li.tab-active a {
    color: #1768F7;
}
li.tab-active {
    background: #F1F5FF;
}
li.tab-active i {
    color: #1768F7;
}
li.tab-item {
    padding: 15px 0;
    display: flex;
    gap: 14px;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
}
li.tab-item:hover {
    background: #F8F8F9;
}
/* End Sidebar */
.main {
    display: flex;
    flex-direction: column;
    width: calc(100% - 345px);
    /* height: 100%; */
    overflow-y: scroll;
    border-left: 2px solid #EBEBEB;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 40px;
    font-weight: 700;
    padding: 38px 35px;
    border-bottom: 2px solid #EBEBEB;
}

.header button {
    width: 52px;
    height: 52px;
    margin-right: 25px;
    background: #F8F8F9;
    border: 1px solid #F0F0F0;
    border-radius: 50%;
}

.header button i {
    margin: 0;
    color: #727272;
    font-size: 20px;
}

.content {
    flex-grow: 1;
    padding: 33px 20px;
    background: #F8F8F9;
}

.notification {
    padding: 20px;
    background: #F6F0CE;
    border: 2px solid #CFC786;
    border-radius: 10px;
    margin-bottom: 20px;
}

.notification p {
    display: table;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    color: #6A6A6A;
}

.notification i {
    display: table-cell;
    font-size: 16px;
    padding-right: 10px;
    color: #CFC786;
}

.table-wrapper {
    padding: 44px 33px;
    background: #fff;
    border-radius: 10px;
}

.table-info-top {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #EBEBEB;
}

.info-card {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 10px 22px;
    line-height: 35px;
    font-size: 18px;
    font-weight: 600;
    background: #F8F8F9;
    border-radius: 10px;
}

.info-card hr {
    height: 25px;
    margin: 0 35px;
    width: 1px;
    color: #C3C3C3;
    border-style: solid;
    border-top: none;
}

.info-card span {
    font-size: 15px;
    font-weight: 500;
    color: #6A6A6A;
}

.table-sync-setting {
    display: table;
    padding: 22px;
    border-bottom: 1px solid #EBEBEB;
}

.sync-title {
    display: table-cell;
    width: 170px;
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
}

.sync-items {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
}

.sync-item {
    display: inline-block;
    background: #F4F4F4;
    padding: 6px 10px;
    border-radius: 5px;
}

.row-top {
    margin: 25px 0 35px 0;
    padding: 0 22px;
    font-size: 14px;
    font-weight: 500;
    color: #6A6A6A;
    line-height: 24px;
}

.row-middle {
    margin-bottom: 33px;
}

.filter-wrapper {
    width: 100%;
    font-weight: 500;
    background: #fff;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
}

.form-group {
    display: inline-block;
    margin-right: 30px;
}

.filter-actions {
    height: 60px;
    padding: 20px;
    border-bottom: 1px solid #EBEBEB;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 12px;
    vertical-align: middle;
}

label {
    vertical-align: bottom;
}

.filter-options {
    display: flex;
    flex-wrap: wrap;
    padding: 19px;
}

.filter-options .form-group {
    flex: 1 0 21%;
    min-width: 230px;
    margin-bottom: 26px;
    max-width: calc(25% - 30px);
}

.row-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-bottom::before {
    content: '';
}

.table-actions button{
    height: 40px;
    padding: 8px 20px;
    color: #1768F7;
    font-weight: 700;
    background: #fff;
    border: 1px solid #1768F7;
    border-radius: 10px;
}

.table-actions .btn-add {
    color: #fff;
    background: #1768F7;
}

.table-actions .btn-save {
    color: #fff;
    background: #1768F7;
}