.info-card .info-url {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    border-right: none !important;
}

.info-card hr {
    display: none;
}

.info-card span {
    font-size: 15px;
    font-weight: 500;
    color: #6A6A6A;
}

.sync-setting-wrapper {
    width: 100%;
    font-weight: 500;
    background: #fff;
}

.sync-options {
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 14px;
    padding-top: 22px;
}

.sync-options .form-group {
    display: table;
    width: 100%;
    padding: 22px;
    border-bottom: 1px solid #EBEBEB;
}

.sync-options .form-group:last-child {
    border-bottom: none;
}

.sync-options .sync-option {
    display: table-cell;
    width: 180px;
}

.sync-options .sync-option input[type="checkbox"] {
    width: 20px;
    height: 20px;
    float: right;
    vertical-align: middle;
}

.sync-options .sync-option-tooltip {
    padding-left: 44px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #6A6A6A;
}

.sync-actions {
    height: 60px;
    padding: 20px;
    border-bottom: 1px solid #EBEBEB;
}

.row-bottom::before {
    content: '';
}
