.category-mapping-table {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    border-collapse: collapse;
}

.category-mapping-table thead {
    height: 50px;
    background: #F1F5FF;
}

.category-mapping-table th:not(:first-child):not(:last-child) {
    text-align: left;
    padding: 0 15px;
}

.category-mapping-table tr {
    height: 60px;
    border-bottom: 1px solid #EBEBEB;
}

.category-mapping-table td {
    padding: 0 15px;
}

.category-mapping-table td:first-child {
    width: 65px;
    text-align: center;
}

.category-mapping-table td:nth-child(2) {
    width: 425px;
}

.category-mapping-table td:nth-child(3) {
    width: 425px;
}

.category-mapping-table td:nth-child(4) {
    width: 275px;
}

.category-mapping-table td:last-child {
    text-align: center;
    width: 150px;
}

.category-mapping-table select {
    padding: 10px 50px 10px 12px;
    font-size: 14px;
    font-weight: 500;
    background-color: #fff;
    background-image: url('/media/icon/others/Layer_1-6.svg');
    background-repeat: no-repeat;
    background-position: top 50% right 12px;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.category-mapping-table input {
    padding: 10px 12px;
    font-size: 14px;
    font-weight: 500;
    background-color: #fff;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
}

.category-mapping-table .row-actions .action {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 5px;
    vertical-align: middle;
}

.category-mapping-table .row-actions .action.cancel {
    background-color: #000000;
}

.category-mapping-table .row-actions .action.edit {
    background-color: #4BB949;
}

.category-mapping-table .row-actions .action.delete {
    background-color: #E53A3A;
}

.category-mapping-table .row-actions i {
    margin: 0;
}

.row-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-paging .paging-option {
    display: inline-block;
}

.table-paging button {
    padding: 6px 11px;
    color: #606060;
    font-weight: 500;
    background: #fff;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
}

.table-paging .pagination {
    margin: 0 31px;
}

.table-paging .pagination span{
    display: inline-block;
    width: 36px;
    height: 36px;
    text-align: center;
    padding: 6px 0;
    line-height: 24px;
    color: #B8B8B8;
    border-radius: 10px;
    cursor: pointer;
}

.table-paging .pagination span.active {
    background: #1768F7;
    color: #fff;
}

.table-actions {
    gap: 10px;
}

.table-actions button{
    height: 40px;
    padding: 8px 20px;
    color: #1768F7;
    background: #fff;
    border: 1px solid #1768F7;
    border-radius: 10px;
}
.table-actions button span {
    font-weight: 700;
}

.table-actions .btn-save {
    color: #fff;
    background: #1768F7;
}

@media (max-width: 1440px) {
    .row-bottom {
        font-size: 13px;
    }
}

@media (max-width: 1024px) {
    .row-bottom {
        flex-direction: column;
        align-items: flex-end;
        gap: 20px
    }
    .table-actions {
        width: 100%;
        justify-content: center;
    }
    .table-paging {
        width: 100%;
        order: 2;
        display: flex;
        justify-content: center;
    }
    .category-mapping-table td {
        padding: 0 10px;
    }
    .category-mapping-table select {
        padding-right: 35px;
    }
    td.row-actions {
        display: inline-flex;
        gap: 8px;
        align-items: center;
        height: inherit;
    }
    .category-mapping-table input {
        width: 135px;
    }
}
@media (max-width: 768px) {
    .table-info-top {
        flex-wrap: wrap;
        justify-content: unset;
    }
    .content {
        padding: 26px !important;
    }
    .notification span {
        font-size: 14px;
    }
    .table-sync-setting {
        padding: 16px;
    }
    .sync-title {
        width: 30%;
    }
    .category-mapping-table thead {
        display: none;
    }
    .category-mapping-table tbody tr {
        display: flex;
        flex-direction: column;
        gap: 16px;
        height: auto;
        padding: 16px 0;
    }
    .category-mapping-table td {
        width: auto !important;
        text-align: unset !important;
        font-size: 12px;
        padding: 0;
    }
    .category-mapping-table td::before {
        padding-right: 10px;
        content: attr(data-th) ': ';
        color: #000000;
        font-weight: 700;
    }
    .sync-items {
        gap: 6px;
    }
    .sync-item {
        padding: 6px;
    }
    .row-bottom {
        flex-direction: column;
        align-items: flex-end;
        gap: 20px
    }
    .table-paging {
        width: 100%;
        order: 2;
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 450px) {
    .table-wrapper {
        padding: 26px
    }
    .category-mapping-table select, .category-mapping-table td input {
        margin-top: 6px;
    }
    .table-actions button span {
        display: none;
    }
    .table-actions button::before {
        content: attr(data-th);
        font-weight: 700;
    }
    .table-paging button {
        padding: 0;
    }
    .table-paging button i {
        margin-right: 0;
    }
    .row-middle {
        margin-bottom: 24px;
    }
}
@media (max-width: 390px) {
    .table-paging .pagination span {
        width: 24px;
        height: 24px;
        font-size: 14px;
        border-radius: 6px;
        padding: 0;
    }
    .table-paging .pagination {
        margin-top: auto;
        margin-bottom: auto;
    }
    .table-paging button {
        padding: 4px 6px;
    }
    .table-actions button {
        height: 36px;
        padding: 0 16px;
    }
}