.category-mapping-table {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    border-collapse: collapse;
}

.category-mapping-table thead {
    height: 50px;
    background: #F1F5FF;
}

.category-mapping-table th:not(:first-child):not(:last-child) {
    text-align: left;
    padding: 0 15px;
}

.category-mapping-table tr {
    height: 60px;
    border-bottom: 1px solid #EBEBEB;
}

.category-mapping-table td {
    padding: 0 15px;
}

.category-mapping-table td:first-child {
    width: 65px;
    text-align: center;
}

.category-mapping-table td:nth-child(2) {
    width: 425px;
}

.category-mapping-table td:nth-child(3) {
    width: 425px;
}

.category-mapping-table td:nth-child(4) {
    width: 275px;
}

.category-mapping-table select {
    padding: 10px 50px 10px 12px;
    font-size: 14px;
    font-weight: 500;
    background-color: #fff;
    background-image: url('/media/icon/others/Layer_1-6.svg');
    background-repeat: no-repeat;
    background-position: top 50% right 12px;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.category-mapping-table input {
    padding: 10px 12px;
    font-size: 14px;
    font-weight: 500;
    background-color: #fff;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
}

.category-mapping-table .row-actions .action {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 5px;
    vertical-align: middle;
}

.category-mapping-table .row-actions .action.cancel {
    background-color: #000000;
}

.category-mapping-table .row-actions .action.edit {
    background-color: #4BB949;
}

.category-mapping-table .row-actions .action.delete {
    background-color: #E53A3A;
}

.category-mapping-table .row-actions i {
    margin: 0;
}

.row-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-paging .paging-option {
    display: inline-block;
}

.table-paging button {
    padding: 6px 11px;
    color: #606060;
    font-weight: 500;
    background: #fff;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
}

.table-paging button i {
    margin-right: 0;
}

.table-paging .pagination {
    margin: 0 auto;
}

.table-paging .pagination span{
    display: inline-block;
    width: 36px;
    height: 36px;
    text-align: center;
    padding: 6px 0;
    line-height: 24px;
    color: #B8B8B8;
    border-radius: 10px;
    cursor: pointer;
}

.table-paging .pagination span.active {
    background: #1768F7;
    color: #fff;
}

.table-actions {
    gap: 10px;
}

@media (max-width: 1024px) {
    .tab-sidebar {
        position: fixed;
        left: -345px;
        max-width: initial;
        width: 320px;
        z-index: 11;
    }
    .row-bottom {
        flex-direction: column;
        gap: 20px
    }
    .table-paging {
        width: 100%;
        order: 2;
        display: flex;
        justify-content: center;
    }
    .table-paging button {
        padding: 0 10px;
    }
    .table-actions {
        width: 100%;
        justify-content: center;
    }
    .table-actions button::before {
        content: attr(data-th);
        font-weight: 700;
    }
    .table-actions button span {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .table-wrapper {
        padding: 26px
    }
    .category-mapping-table thead {
        display: none;
    }
    .category-mapping-table tbody tr {
        display: flex;
        flex-direction: column;
        gap: 16px;
        height: auto;
        padding: 16px 0;
    }
    .category-mapping-table td {
        width: auto !important;
        text-align: unset !important;
        font-size: 12px;
        padding: 0;
    }
    .category-mapping-table td::before {
        padding-right: 10px;
        content: attr(data-th) ': ';
        color: #000000;
        font-weight: 700;
    }
    .row-top {
        margin: 0;
    }
}

@media screen and (min-width: 768px) {
    .table-actions button::before {
        content: none
    }
    .table-wrapper {
        padding: 44px 33px;
    }
    .table-actions button span {
        display: initial;
    }
    .table-paging button span {
        display: initial;
    }
    .category-mapping-table td {
        padding: 0 10px;
    }
    .category-mapping-table select {
        padding-right: 35px;
    }
    td.row-actions {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        height: inherit;
    }
    .category-mapping-table input {
        width: 135px;
    }
}

@media screen and (min-width: 1024px){
    .table-paging button span {
        display: none;
    }
}

@media screen and (min-width: 1440px) {
    .table-paging button span {
        display: initial;
    }
    .pagination.paging-option {
        margin: 0 30px;
    }
}