$color_1: #666666;
$color_2: #1768F7;

/* side */
/* content title */
/* responsive */
.tab-sidebar {
  max-width: 345px;
  width: 20%;
  height: 100vh;
  background: #FFFFFF;
  position: sticky;
  top: 0;
}
.main-sidebar {
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #EBEBEB;
  padding: 73px 50px 0 50px;
}
ul.tabs-content {
  display: flex;
  flex-direction: column;
  gap: 14px;
  list-style: none;
  li {
    a {
      text-decoration: none;
      font-size: 14px;
      font-weight: 700;
      line-height: auto;
      color: $color_1;
    }
  }
  li.tab-active {
    a {
      color: $color_2;
    }
  }
}
.logo-site {
  padding-left: 23px !important;
  .logo-content {
    a {
      img {
        width: 108px;
        height: 50px;
      }
    }
  }
}
li.tab-item {
  a {
    padding-left: 23px !important;
    display: flex;
    gap: 14px;
    align-items: center;
    padding: 15px 0;
  }
  border-radius: 6px;
  &:hover {
    background: #F8F8F9;
  }
}
.tabs-wrapper {
  margin-top: 66px;
}
li.tab-active {
  background: #F1F5FF;
  svg {
    path {
      fill: #1768F7;
    }
  }
}
.content-title {
  position: sticky;
  top: 0;
  background: #FFFFFF;
  padding-left: 35px;
  z-index: 10;
  border-bottom: 2px solid #EBEBEB;
  h2.title-detail {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
  }
  .header-title {
    width: 100%;
    display: inline-flex;
    align-items: center;
    gap: 24px;
    padding: 38px 0 37px 0;
  }
}
.toggle-menu {
  i {
    font-size: 26px;
    cursor: pointer;
    display: none;
  }
}
@media (max-width: 1440px) {
  .main-sidebar {
    padding: 75px 20px 0 20px !important;
  }
}
@media (min-width: 913px) and (max-width:1024px) {
.orders-table-content {
  thead {
    th {
      padding: 8px 26px;
    }
  }
  tbody {
    td {
      padding: 16px 30px;
    }
  }
}
.orders-detail {
  .table-header {
    padding: 16px 30px;
  }
}
.content {
  .orders-detail {
    height: 100vh;
  }
}
}
@media (max-width: 912px) {
  .toggle-menu {
    i {
      display: block;
    }
  }
  .tab-sidebar {
    position: fixed;
    left: -345px;
    max-width: initial;
    width: 320px;
    z-index: 11;
    transition: all 0.5s ease;
  }
  .content {
    width: 100%;
  }
  .menu-active {
    left: 0;
  }
  .toggle-menu.active-toggle {
    i {
      position: fixed;
      left: 350px;
      transition: all 0.5s ease;
    }
  }
}
@media screen and (max-width: 540px) {
  .tab-sidebar {
    width: 250px;
  }
}
