//@import "colors";
//@import 'scrollbar';
//@import "components";
@import "styles";

body[data-lock-scrolling] {
  overflow: auto hidden;
}

.Avada-Frame {
  display: flex;
}

.Polaris-Header-Title__TitleWithMetadataWrapper {
  display: flex;
  align-items: center;

  .Polaris-Header-Title__TitleMetadata {
    margin-top: 0;
  }
}

.Polaris-Modal-Dialog__Container {
  .Polaris-Modal-Header {
    align-items: center;

    .Polaris-Modal-CloseButton {
      margin-left: 1rem;
    }
  }
}

.Loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1000;
}
