$color_1: #fff;
$color_2: #6A6A6A;
$color_3: #9C9C9C;
$font-family_1: 'Montserrat', sans-serif;

@import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap";
.signup-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;

  .content-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    background: #000;
  }
  .signup-header {
    width: 485px;
    .logo {
      display: block;
      text-align: left;
      img {
        width: 190px;
        height: 88px;
      }
    }
    p {
      color: $color_1;
      font-size: 25px;
      font-weight: 700;
    }
  }
  .content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    .signup-form-wrapper {
      width: 400px;
      height: 550px;
      .signup-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        .signup-form-header {
          text-align: center;
          font-size: 35px;
          font-weight: 700;
        }
        .signup-form-body {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
          height: 100%;
          padding: 40px 0;
          .form-group {
            margin-bottom: 15px;
            label {
              display: block;
              width: 100%;
              font-weight: 600;
              margin-bottom: 10px;
              >span {
                color: $color_2;
                font-weight: 400;
              }
            }
            input {
              display: block;
              width: 100%;
              height: 52px;
              font-size: 16px;
              padding: 13px 23px;
              border: 1px solid #e6e6e6;
              border-radius: 10px;
            }
            input#provider {
              font-weight: 700;
              color: $color_3;
            }
          }
        }
        .signup-form-actions {
          .singup-action-submit {
            width: 100%;
            height: 52px;
            color: $color_1;
            font-size: 16px;
            font-weight: 700;
            background: #F37021;
            border: none;
            border-radius: 10px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 320px) {
  .signup-wrapper {
    .content-left {
      height: auto;
    }

    .signup-header {
      width: 100%;

      .logo {
        display: flex;
        justify-content: center;
        margin: 15px 0;

        img {
          width: 95px;
          height: 44px;
        }
      }

      p {
        display: none;
      }
    }

    .content-right {
      height: auto;
      width: 100vw;
      padding: 30px 0;

      .signup-form-wrapper {
        width: 300px;
        margin: 0 auto;
        font-size: 14px;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .signup-wrapper {
    .content-left {
      width: 40%;
      font-size: 15px;
    }

    .signup-header {
      width: 70%;

      .logo {
        display: flex;
        justify-content: start;

        img {
          width: 130px;
          height: 60px;
        }
      }

      p {
        display: block;
        margin: 0 auto;
        font-size: inherit;
      }
    }

    .content-right {
      width: 60%;
      font-size: 14px;

      .signup-form-wrapper {
        width: 320px;
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .signup-wrapper {
    .content-left {
      font-size: 20px;
    }

    .signup-header {
      .logo {
        margin-bottom: 60px;

        img {
          width: 190px;
          height: 88px;
        }
      }
    }

    .content-right {
      font-size: 16px;

      .signup-form-wrapper {
        width: 400px;
      }
    }
  }
}
@media screen and (min-width: 1440px) {
  .signup-wrapper {
    .content-left {
      font-size: 25px;
    }
  }
}
