$color_1: #fff;
$color_2: #666666;
$color_3: #1768F7;
$color_4: #6A6A6A;
$color_5: #CFC786;
$color_6: #C3C3C3;
$font-family_1: 'Montserrat', sans-serif;

/*
* General
*/
@import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap";
/*
* Clearable text inputs
*/
/* (jQ) Show icon */
/* (jQ) hover cursor style */
/* Remove IE default X */

* {
  font-family: $font-family_1;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
button.btn-primary {
  color: $color_1 !important;
  background: #1768F7 !important;
  border: 1px solid #1768F7 !important;
  border-radius: 5px;
}
input {
  overflow: hidden;
  text-overflow: ellipsis;
}
select {
  overflow: hidden;
  text-overflow: ellipsis;
}
i {
  margin-right: 6px;
  vertical-align: middle;
}
i.check {
  &::before {
    content: url('../resources/icons/Capa_1.svg');
  }
}
i.edit {
  &::before {
    content: url('../resources/icons/icon_edit.png');
  }
}
i.trash-can {
  &::before {
    content: url('../resources/icons/others/Layer_1-5.svg');
  }
}
i.xmark {
  &::before {
    content: url('../resources/icons/others/Capa_1.svg');
  }
}
i.arrow-left {
  &::before {
    content: url('../resources/icons/others/Layer_33.svg');
  }
}
i.arrow-right {
  &::before {
    content: url('../resources/icons/others/Layer_1-4.svg');
  }
}
i.solid.arrow-left {
  &::before {
    content: url('../resources/icons/Group67.svg');
  }
}
i.solid.circle-check {
  &::before {
    content: url('../resources/icons/others/Capa_223.svg');
  }
}
i.refresh {
  &::before {
    content: url('../resources/icons/others/Frame.svg');
    vertical-align: bottom;
  }
}
i.solid.file-plus {
  &::before {
    content: url('../resources/icons/others/Layer_1.svg');
    vertical-align: bottom;
  }
}
i.solid.rotate {
  &::before {
    content: url('../resources/icons/others/Layer_1-1.svg');
    vertical-align: bottom;
  }
}
i.solid.trash-can {
  &::before {
    content: url('../resources/icons/others/Layer_1-2.svg');
    vertical-align: bottom;
  }
}
.clearable {
  background: #fff url(https://i.stack.imgur.com/mJotv.gif) no-repeat right -10px center;
  border: 1px solid #999;
  padding-right: 25px !important;
  border-radius: 3px;
  transition: background 0.2s;
  &::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
}
.clearable.x {
  background-position: right 15px center;
}
.clearable.onX {
  cursor: pointer;
}
.required-asterisk {
  color: #E53A3A;
}
.hidden {
  display: none !important;
}
.main-sidebar {
  width: 0;
  position: fixed;
  overflow-y: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  height: 100vh;
  padding: 75px 20px 0 20px;
  ::-webkit-scrollbar {
    display: none; /* for Chrome, Safari and Opera */
  }
}
ul.tabs-content {
  display: flex;
  flex-direction: column;
  gap: 14px;
  list-style: none;
  li {
    a {
      text-decoration: none;
      font-size: 14px;
      font-weight: 700;
      line-height: auto;
      color: $color_2;
    }
  }
  li.tab-active {
    a {
      color: $color_2;
    }
  }
}
.logo-site {
  padding-left: 23px;
  margin-bottom: 60px;
  .logo-content {
    a {
      img {
        width: 108px;
        height: 50px;
      }
    }
  }
}
li.tab-item {
  a {
    padding: 15px 23px;
    display: flex;
    gap: 14px;
    align-items: center;

    svg {
      width: 18px;
      height: 18px;
    }
  }
  border-radius: 6px;
  &:hover {
    background: #F8F8F9;
  }
}
.tabs-wrapper {
  margin: 0 -20px;
  padding: 0 20px;
  overflow-y: scroll;
}
li.tab-active {
  background: #F1F5FF;
  svg {
    path {
      fill: #1768F7;
    }
  }
}
.content-title {
  position: sticky;
  top: 0;
  max-height: 127px;
  background: #FFFFFF;
  padding-left: 35px;
  z-index: 10;
  border-bottom: 2px solid #EBEBEB;
  h2.title-detail {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
  }
  .header-title {
    width: 100%;
    height: 135px;
    display: inline-flex;
    align-items: center;
    gap: 24px;
    padding: 38px 0 37px 0;
  }
}
.wrapper {
  display: flex;
}
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: -17px;
  min-width: 550px;
  border-left: 2px solid #EBEBEB;
}
.content {
  height: calc(100vh - 127px);
  overflow-y: scroll;
  padding: 33px;
  background: #F8F8F9;
}
.notification {
  padding: 20px;
  background: #F6F0CE;
  border: 2px solid #CFC786;
  border-radius: 10px;
  margin-bottom: 20px;
  p {
    display: table;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    color: $color_4;
  }
  i {
    display: table-cell;
    font-size: 16px;
    padding-right: 10px;
    color: $color_5;
  }
}
.table-wrapper {
  padding: 44px 33px;
  background: #fff;
  border-radius: 10px;
}
.table-info-top {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  font-size: 14px;
  line-height: 28px;
  padding-bottom: 20px;
  border-bottom: 1px solid #EBEBEB;
}
.info-card {
  display: flex;
  gap: 35px;
  align-items: center;
  flex: 1 1 0;
  padding: 10px 22px;
  background: #F8F8F9;
  border-radius: 10px;
  .info-currency {
    font-size: 18px;
    font-weight: 600;
  }
  hr {
    display: none;
    height: 25px;
    margin: 0 35px;
    width: 1px;
    color: $color_6;
    border-style: solid;
    border-top: none;
  }
  .info-url {
    width: 70%;
    border-right: 1px solid #C3C3C3;
    padding-right: 5px;
    margin-right: 5px;
    font-weight: 600;
    font-size: 18px;
  }
  span {
    display: block;
    font-size: 15px;
    font-weight: 500;
    color: $color_4;
  }
}
.table-sync-setting {
  display: table;
  width: 100%;
  padding: 22px;
  border-bottom: 1px solid #EBEBEB;
}
.sync-title {
  display: table-cell;
  width: 170px;
  font-size: 18px;
  font-weight: 600;
  line-height: 35px;
}
.sync-items {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}
.sync-item {
  display: inline-block;
  background: #F4F4F4;
  padding: 6px 10px;
  border-radius: 5px;
}
.row-top {
  margin: 24px 0 35px 0;
  .table-message {
    display: table;
    i {
      display: table-cell;
      width: 25px;
    }
  }
}
.row-middle {
  margin-bottom: 33px;
}
.row-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.table-actions {
  display: flex;
  gap: 55px;
  button {
    height: 40px;
    padding: 8px 20px;
    color: $color_3;
    font-weight: 700;
    background: #fff;
    border: 1px solid #1768F7;
    border-radius: 10px;
  }
  .btn-add {
    color: $color_1;
    background: #1768F7;
  }
  .btn-save {
    color: $color_1;
    background: #1768F7;
  }
}
.toggle-menu {
  i {
    width: 18px;
    cursor: pointer;
    display: none;
  }
}
.opacity {
  background: #000000;
  opacity: 0.5;
  pointer-events: none;
}
@media (max-width: 912px) {
  .toggle-menu {
    i {
      display: block;
    }
  }
  .content {
    width: 100%;
  }
  .menu-active {
    position: sticky;
    min-width: 200px;
    background: #FFFFFF;
  }
  .tabs-wrapper {
    height: calc(100vh - 200px);
  }
  .toggle-menu.active-toggle {
    i {
      position: fixed;
      left: 350px;
      transition: all 0.5s ease;
    }
  }
}

@media screen and (min-width: 912px) {
  .main-sidebar {
    position: sticky;
    top: 0;
    width: 20%;
    min-width: 200px;
    max-width: 345px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
  }
}

@media screen and (max-width: 540px) {
  .tab-sidebar {
    width: 250px;
  }
}
@media screen and (min-width: 768px) {
  body {
    overflow-y: hidden;
  }
  .info-card {
    .info-url {
      width: 70%;
      padding-right: 10px;
      margin-right: 10px;
    }
    span {
      display: inline;
    }
  }
  .main {
    .content {
      padding: 33px;
    }
  }
}
@media screen and (min-width: 1440px) {
  .main-sidebar {
    padding: 75px 50px 0 50px;
  }
  .info-card {
    gap: 0;
    .info-url {
      width: 60%;
      border-right: none;
      padding-right: 0;
      margin-right: 0;
    }
    hr {
      display: initial;
    }
  }
}
