/* side */
.tab-sidebar {
    max-width: 345px;
    width: 20%;
    height: 100vh;
    background: #FFFFFF;
    position: sticky;
    top: 0;
}
.main-sidebar {
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #EBEBEB;
    padding: 73px 50px 0 50px;
}
ul.tabs-content {
    display: flex;
    flex-direction: column;
    gap: 14px;
    list-style: none;
}
.logo-site, li.tab-item a {
    padding-left: 23px !important;
}
.tabs-wrapper {
    margin-top: 66px;
}
.logo-site .logo-content a img {
    width: 108px;
    height: 50px;
}
ul.tabs-content li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    line-height: auto;
    color: #666666;
}
ul.tabs-content li.tab-active a {
    color: #1768F7;
}
li.tab-active {
    background: #F1F5FF;
}
li.tab-active svg path {
    fill: #1768F7;
}
li.tab-item {
    border-radius: 6px;
}
li.tab-item a {
    display: flex;
    gap: 14px;
    align-items: center;
    padding: 15px 0;
}
li.tab-item:hover {
    background: #F8F8F9;
}

/* content title */
.content-title {
    position: sticky;
    top: 0;
    background: #FFFFFF;
    padding-left: 35px;
    z-index: 10;
    border-bottom: 2px solid #EBEBEB;
}
.content-title h2.title-detail {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}
.content-title .header-title {
    width: 100%;
    display: inline-flex;
    align-items: center;
    gap: 24px;
    padding: 38px 0 37px 0;
}
.toggle-menu i{
    font-size: 26px;
    cursor: pointer;
    display:none;
}

/* responsive */
@media (max-width: 1440px) {
    .main-sidebar {
        padding: 75px 20px 0 20px!important;
    }
    
}
@media(min-width: 913px) and (max-width:1024px) {
    .orders-table-content thead th {
        padding: 8px 26px;
    }
    .orders-detail .table-header, .orders-table-content tbody td {
        padding: 16px 30px;
    }
    .content .orders-detail {
        height: 100vh;
    }
}
@media (max-width: 912px) {
    .toggle-menu i {
        display: block !important;
    }
    .tab-sidebar {
        position: fixed;
        left: -345px;
        max-width: initial;
        width: 320px;
        z-index: 11;
        transition: all 0.5s ease;
    }
    .content {
        width: 100% !important;
    }
    .menu-active {
        left: 0;
    }
    .toggle-menu.active-toggle i {
        position: fixed;
        left: 350px;
        transition: all 0.5s ease;
    }
}
@media screen and (max-width: 540px) {
    .tab-sidebar {
        width: 250px;
    }
}